:root {
  --color1: #334455;
  --color2: #666;
}

.fooBar {
  font-size: 16px;
  padding: 32px;
  border: red solid 1px;
}

.fooBar.big {
  font-size: 32px;
  padding: 64px;
}

.hello-world > .col1 {
  width: 50%;
  background: var(--color1);
  color: var(--color2);
  @media (max-width: 64em) {
    --color2: #999999;
    width: 75%;
    background-color: var(--color2);
  }
}

.hello-world > .col2 {
  width: 50%;
  color: var(--color1);
  background: var(--color2);
  @media (max-width: 64em) {
    width: 25%;
  }
}

.hello-world > .col1 {
  z-index: 37;
  position: static;
}

.lorem-ipsum {
  padding: 0px 2em 0px 2em;
}

.lorem-dolor::before {
  color: lighten(var(--color2), 20%);
}
